/* div{
  border: 1px solid red;
} */
*{
  margin: 0;
  padding: 0;
}
a,a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
}
.container{
  display: flex;
  padding:0;
  min-width: 1200px;
  height: 900px;
}
.btn-success{
  background-color: #1abf9e;
}
.btn-success:hover{
  background-color: #333;
}
.leftside{
  width: 25%;
  border-left: 0.5px solid #1abf9e;
}
.rightside{
  width: 75%;
  border-left: 0.5px solid #1abf9e;
  border-right: 0.5px solid #1abf9e;
}
.leftside ul{
  font-size: 14px;
  border-bottom: 0.5px solid rgba(26, 191, 158, 1);
}
.leftside li{
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.leftside li:nth-child(2n){
  background-color: rgba(26, 191, 158, 0.1);
}
.leftside li:hover{
  background-color: rgba(26, 191, 158, 0.3);
}

.leftside li>img{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  margin-left: 20px;
}
.leftside li>div:nth-child(2){
  margin-left: 10px;
  display: flex;
  flex-flow: column;
  width: 50%;
}
/* 歌单编辑和删除图片 */
.leftside li:not(:first-child)>div:last-child{
  margin-left: 100px;
  display:none;
  position: absolute;
  right: 0;
}
.leftside li:not(:first-child)>div:last-child img{
  opacity:0.5;
}
.leftside li:not(:first-child)>div:last-child img:hover{
  opacity:1;
}
.leftside li:not(:first-child):hover>div:last-child{
  display: block;
}
.leftside li>div>p{
  margin: 0;
}
.leftside li>div>p:first-child{
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leftside li>div>p:last-child{
  color:#999;
  margin-top: 5px;
}
.leftside li div img{
  width: 20px;
  margin:0 5px;
}
.songlist{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid rgba(16,188,116,1); */
  background-color: #18C6A3;
  color: #fff;
}
.songlist h3{
  margin:20px 0;
}
.songlist span,
.songlist button{
  margin-left: 20px;
}
.songlist .btn{
  padding: 0.1rem 0.75rem;
  font-size: 14px;
  box-shadow: 0 0 7px 0px black;
}
.rightside .top{
  display: flex;
}
.rightside .top .album-img{
  margin: 10px 20px;
  box-shadow: 0 0 7px 0px black;
  width: 200px;
  height: 200px;
  border-radius:10px;
}
.rightside .top .album-img img{
  width: 200px;

}
.rightside .top img.user{
  width: 40px;
  box-shadow: 0 0 7px 0px black;
  border-radius: 50%;
}
.rightside .top div.toprow{
  display: flex;
  align-items: center;
  font-size: 20px; 
  margin-top: 40px; 
}
.rightside .top div.toprow>div:first-child{
  padding:10px 20px;
  border-radius:10px ;
  box-shadow: 4px -4px 7px 0px rgba(0,0,0,0.7);
  background-color: #eee;
  font-size: 18px;
}
.rightside .top div.toprow>div>img{
  width: 40px;
}
.rightside .top div.user{
  margin-top: 20px;
}
.rightside .top span.userid{
  margin:0 20px 0 10px;
}
.rightside .top span.buildtime{
  color:#999 ;
  font-size: 14px;
}
.rightside .top div.buttons{
  margin: 20px 0;
  display: flex;
}
.rightside .top div.buttons .btn{
  box-shadow: 0 0 7px 0px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  width: 90px;
}
.rightside .top div.buttons .btn:hover,
.rightside .top div.buttons .btn:focus{
  background-color: rgba(16,198,163,0.7);
}
.rightside .top div.buttons .btn+.btn{
  margin-left: 10px;
}
.rightside .top div.buttons .btn img{
  width: 20px;
}
.rightside .middle>div{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  /* border-bottom: 2px solid #10BC72; */
}
.rightside .middle ul{
  border-bottom: 0.5px solid rgba(26, 191, 158, 1);
}
.rightside .middle>div>div:first-child>span:first-child{
    font-size: 20px;
    margin-left: 40px; 
}
.rightside .middle>div>div:first-child>span:last-child{
  margin-left: 30px; 
}
.rightside .middle>div>div:last-child{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.rightside .middle ul>li{
  display: flex;
  align-items: center;
  
}
.rightside .middle ul>li:first-child{
  background-color: #18C6A3;
  color: #fff;
}
.rightside .middle ul>li:nth-child(2n){
  background-color: rgba(16,198,163,0.07);
}
.rightside .middle ul>li:not(:first-child):hover{
  background-color: rgba(16,198,163,0.5);
}
.rightside .middle ul>li:first-child>div:first-child{
  border-left: 0;
}
.rightside .middle ul>li:first-child>div{
  padding:5px 10px;
  /* border: 1px solid rgba(16,188,116,1); */
  border-top: 0;
  border-right:0 ;
}
.rightside .middle ul>li:not(:first-child)>div,
.rightside .middle ul>li:not(:first-child)>span{
  padding:5px 10px;
  font-size: 14px;
}
.rightside .middle ul>li:first-child>div:first-child{
  width: 50%;
  padding-left: 70px;
}
.rightside .middle ul>li:first-child>div:nth-child(2){
  width: 15%;
}
.rightside .middle ul>li:first-child>div:nth-child(3){
  width: 15%;
}
.rightside .middle ul>li:first-child>div:nth-child(4){
  width: 20%;
}
.rightside .middle ul>li img{
  width: 20px;
}
.rightside .middle ul>li:not(:first-child)>div:first-child{
  width: 50%;
  padding-left:15px;
  display: flex;
  align-items: center;
}
.rightside .middle ul>li:not(:first-child)>div:first-child>img:nth-child(2){
  margin:0 15px;
}
.rightside .middle ul>li:not(:first-child)>div:nth-child(2),
.rightside .middle ul>li:not(:first-child)>span:nth-child(3){
  width: 15%;
}
.rightside .middle ul>li:not(:first-child)>span:nth-child(4){
  width: 20%;
}
.rightside .bottom>div:first-child{
  margin-top: 50px;
  border-bottom: 0.5px solid rgba(26, 191, 158, 1);
}
.rightside .bottom>div:first-child>span:first-child{
  font-size: 20px;
  margin:0 20px 0 40px;
}
.rightside .bottom>div:last-child{
  display: flex;
  padding-left:40px ;
  margin-top: 20px;
}
.rightside .bottom>div:last-child>div:nth-child(2){
  width: 80%;
}
.rightside .bottom>div:last-child>div:nth-child(2) textarea{
  width: 100%;
  height: 100px;
  font-size: 14px;
  padding:5px 10px;
  
}
textarea:focus{
  border: 1px solid rgba(26, 191, 158, 1);
  outline: 0;
  border-color: rgba(26, 191, 158, 1);
  box-shadow: 0 0 10px 4px rgba(16,190,115,0.3);
}
.rightside .bottom img.user {
  width: 60px;
  box-shadow: 0 0 7px 0px black;
  border-radius: 50%;
  margin-right: 10px;
}
.rightside .bottom .commentimgs{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.rightside .bottom .commentimgs .btn{
  font-size: 14px;
  padding: 0 10px;
  box-shadow: 0 0 7px 0px black;
  margin-left:15px;
}
.rightside .bottom .commentimgs img{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.rightside .bottom .commentimgs>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightside .bottom .commentimgs>div:last-child{
  display: flex;
  align-items: center;
}
/* 新建歌单弹出框css */
.cover1,.cover2,.cover3{
  width: 100%;
  height: 100%;
  position: absolute;
}
div.box{
  width:480px;
  height:250px;
  background:white;
  z-index:10;
  position:fixed;
  top:50%;
  margin-top:-125px;
  left:50%;
  margin-left:-240px;
  box-shadow: 0 0 20px 4px black;
}
div.box>div:first-child{
  height: 50px;
  border-bottom:2px solid rgba(26, 191, 158, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  font-weight: 600;
  font-size: 20px;
}
div.box>div:first-child>button{
  width: 44px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  font-size: 25px;
  padding-bottom: 43px;
  outline:0;
}
div.box>div:first-child>button:hover{
  background-color: red;
  color:#fff;
}
div.box>div:nth-child(2){
  position: relative;
}
div.box>div:nth-child(2)>div:first-child{
  padding:0 50px;
  display: flex;
  align-items: center;
  margin:20px 0 61px 0;
}
div.box>div:nth-child(2)>div:first-child input{
  width: 80%; 
}
div.box>div:nth-child(2)>div:first-child input:focus{
  border-color: #10BC72;
  box-shadow: 0 0 0 0.2rem rgba(16,190,115,0.3);
}
div.box>div:nth-child(2)>div:nth-child(2){
  position: absolute;
  display: flex;
  align-items: center;
  color:red;
  font-size: 14px;
  left:115px;
  top: 55px;
  display: none;

}
div.box>div:nth-child(2)>div:nth-child(2)>img{
  width: 20px;
  margin-right: 10px;
}
div.box>div:nth-child(2) button{
  width: 90px;
  box-shadow: 0 0 7px 0px black;
}
div.box>div:nth-child(2) button:nth-child(3){
  margin-left: 115px;
}
div.box>div:nth-child(2) button:last-child{
  margin-left: 50px;
}

div.box>div:nth-child(2) button:last-child:hover{
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
/* 歌单删除框 */
.delbox{
  position: fixed;
  top: 50%;
  margin-top: -90px;
  left: 50%;
  margin-left: -230px;
  width: 460px;
  height: 180px;
  box-shadow: 0 0 20px 4px black;
  background-color: #fff;
} 
.delbox .btn{
  width: 80px;
  height: 30px;
  font-size: 14px;
  padding: 0.1rem 0.75rem;
  box-shadow: 0 0 7px 0px black;
}
.delbox>div:first-child{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(26, 191, 158, 1);
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.delbox>div:nth-child(2){
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.delbox>div:nth-child(3){
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
/* 修改歌单名称弹出框css */
div.setbox{
  width:480px;
  height:145px;
  background:white;
  z-index:10;
  position:fixed;
  top:50%;
  margin-top:-62px;
  left:50%;
  margin-left:-240px;
  box-shadow: 0 0 20px 4px black;
}
div.setbox>.setit{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:2px solid rgba(26, 191, 158, 1);
  padding-top: 10px;
}
div.setbox>.notnul{
  color: red;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  display: none;
}
div.setbox>.notnul img{
  width: 20px;
  height: 20px;
}
div.setbox>div .form-control{
  width: 60%;
  /* outline: 0 !important; */
}
div.setbox>div .form-control:focus{
  /* border-color: #10BC72;
  box-shadow: 0 0 0 0.2rem rgba(16,190,115,0.3); */
  border-color: #999;
  box-shadow: 0 0 0 0;
}
div.setbox button.closebox{
  position: absolute;
  right: 0;
  width: 38px;
  height: 30px;
  border: 0;
  outline: 0;
  font-size: 20px;
  padding-bottom: 34px;
  background-color: #fff;
}   
div.setbox button.closebox:hover{
  background-color: red;
  color:#fff; 
}
div.setbox .btn{
  padding: 0.1rem 0.7rem;
  margin-left: 15px;
  box-shadow: 0 0 7px 0px black;
}

/* 音乐播放器 */
.playbox{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:-98px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content:center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(90deg,#333 30%,rgba(16,198,163,1) );
  box-shadow: 0px 0px 20px 10px #444;
  transform: translateY(0);
  transition: all 0.2s ease-out;
  /* visibility: hidden; */
}
.playbox:hover{
  box-shadow: 0px 0px 40px 10px #000;
}
/* .playbox>div{
  visibility: hidden;
} */
.playcontrol{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.process{
  width: 40%;
  margin: 0 50px;
}
.process>.detail{
  display: flex;
  justify-content:space-between;
  margin-bottom:10px ;
  font-size: 15px;
  padding: 0 6px;
}
.processbar{
  width: 100%;
  position: relative;
}
.audio{
  /* width: 100%; */
  height: 2px;
  background-color: #fff;
  border-radius: 3rem;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right:6px;
  left: 6px;
 
}
.dealit{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
span.icon-shangyiqu1,
span.icon-xiayiqu{
  font-size: 25px;
}
span.icon-bofang-{
  font-size: 40px;
  margin: 0 15px;
}
.dealit{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.dealit span{
  width: 30px;
}
.process_button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;      
}
/* 音量控制 */
.voice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vol{
  display: flex;
  align-items: center;
  width: 80px;
  position: relative;
  margin-left:5px ;
}
.voice .volbar{
  position: absolute;
  left: 5px;
  right: 5px;
  height: 2px;
  background-color: #fff;
}
.vol_button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff; 
  margin-left:70px ;
}
/* 悬浮特效 */
.audio,
.process_button,
.volbar,
.vol_button{
  transition: box-shadow 0.2s ease-out;
  box-shadow: 0px 0px 0px 0px;
}
.processbar:hover .audio,
.process_button:hover,
.vol:hover .volbar,
.vol_button:hover{
  box-shadow: 0px 0px 6px 0.3px;
}
.songdetail,
.dealit span,
.playcontrol span{
  transition: text-shadow 0.2s ease-out;
  text-shadow: 0px 0px 0px #fff;
}
.songdetail:hover,
.dealit span:hover,
.playcontrol span:hover{
  text-shadow: 0px 0px 5px #fff;
}
